body {
    background-color: #000;
}

.post {
  width: 600px;
  background-color: white;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

svg {
    width: 40px;
    height: 40px;
    fill: #000;
}


.likes {
  display: flex;
  gap: 0.5rem;
}

img {
  width: 100%;
}
