* {
    margin: 0;
    padding: 0;
}

body {
    width: 600px;
}

.content {

}

#headerpage {
   justify-content: center;
   display: flex;
   padding: 20px;
}

h1 {
    justify-content: center;
    display: flex;
    font-style: normal;
    font-size:larger;
}

p {
    display: flex;
}

.backfeed { 


}
      

.photofeed {

}

.headfeed {

}

.datename {
    display: flex;
    justify-content: flex-start;
    gap: 500px; 
    align-items: center;
}

.photoname {
    width: 1000px;
}


.photodate {
    display: flex;
    text-align: right;
}

.intimg {

}

.icons {


.description {

}

.comments {

}